<a href="https://colab.research.google.com/github/felipeeng23/Python-B-sico/blob/main/C%C3%B3pia_de_Exercicios1_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1-Crie três variáveis representando seu nome, sua idade e sua altura. Exiba-as no console.

In [ ]:
nome="Felipe Souza de Oliveira"
idade=31
altura=1.82
print(nome)
print(idade)
print(altura)

Felipe Souza de Oliveira
31
1.82

2- Descubra o tipo de cada variável ciada no exercício 1.

In [ ]:
print(type(nome))
print(type(idade))
print(type(altura))

<class 'str'>
<class 'int'>
<class 'float'>

3- Converta a variável idade para float e a altura para int. Depois, exiba os novos valores.

In [ ]:
idade=float(idade)
altura=int(altura)
print(idade)
print(altura)

31.0
1

 4- Faça um programa que peça dois números ao usuário e mostre a soma, subtração, multiplicação e divisão entre eles.

In [ ]:
num1=int(input("Digite um numero: "))
num2=int(input("Digite o segundo numero: "))
soma=num1+num2
subtracao=num1-num2
multiplicacao=num1*num2
divisao=num1/num2
print(soma)
print(subtracao)
print(multiplicacao)
print(divisao)

Digite um numero: 5
Digite o segundo numero: 10
15
-5
50
0.5

5- Crie um programa que receba a idade de uma pessoa e verifique se ela é maior de idade (18 anos ou mais).

In [ ]:
idade1=int(input("Digite a idade: "))
if idade1>=18:
  print("É maior de idade")
else:
  print("Não é maior de idade")

Digite a idade: 26
É maior de idade

 6- Calculadora de IMC: Peça o peso e altura do usuário e calcule o Índice de Massa Corporal (IMC).

In [ ]:
peso=float(input("Digite o peso: "))
altura=float(input("Digite a altura: "))
imc=peso/(altura*altura)
print(f"O IMC dessa pessoa é",{imc})

Digite o peso: 90.4
Digite a altura: 1.78
O IMC dessa pessoa é {28.53175104153516}

 7-Verificador de Número Par ou Ímpar:

In [ ]:
verifica_num=int(input("Digite um número: "))
if verifica_num%2==0:
  print(f"Esse número", {verifica_num}, "é par")
else:
  print(f"Esse número", {verifica_num}, "é ímpar")

Digite um número: 3
Esse número {3} é ímpar

8- Conversor de Temperatura de Celsius para Fahrenheint

In [ ]:
temperatura_celsius=float(input("Digite a temperatura em Celsius: "))
temperatura_fahrenheit=(temperatura_celsius*1.8)+32
print(f"A temperatura em Celsius",{temperatura_celsius}, f"em Fahrenheit é: ",{temperatura_fahrenheit})

Digite a temperatura em Celsius: 25
A temperatura em Celsius {25.0} em Fahrenheit é:  {77.0}

9- Média de Notas: Peça três notas ao usuário e calcule a média.

In [ ]:
nota1=float(input("Digite a nota 1: "))
nota2=float(input("Digite a nota 2: "))
nota3=float(input("Digite a nota 3: "))
media=(nota1+nota2+nota3)/3
print("A média desse aluno é:",{media})

Digite a nota 1: 10
Digite a nota 2: 8.1
Digite a nota 3: 7
A média desse aluno é: {8.366666666666667}

10 - Calculo de Juros Compostos:


```
M=C(1+i)^t
```
Sendo:
* C= Capital inicial
* i= Taxa de juros
* t= Tempo(meses)

In [ ]:
capital=float(input("Digite o valor do capital: "))
i=float(input("Digite a taxa de juros: ")) /100
tempo=int(input("Digite o tempo em meses: "))

montante=capital * (1 + i) ** tempo

print(f"O montante após",{tempo}, "meses é: ",{montante})

Digite o valor do capital: 1000
Digite a taxa de juros: 5
Digite o tempo em meses: 12
O montante após {12} meses é:  {1795.8563260221301}

11- Comparação de Dois Números
Peça dois números ao usuário e exiba se eles são iguais, diferentes, maior, menor, etc.

In [ ]:
n1=int(input("Digite o primeiro número: "))
n2=int(input("Digite o segundo número:"))
if n1>n2 and n1!=n2:
  print(f"O primeiro número é maior que o segundo e são diferentes")
elif n2>n1 and n2!=n1:
  print(f"O segundo número é maior que o primeiro e são diferentes")
else:
  print(f"Os números são iguais")

Digite o primeiro número: 8
Digite o segundo número:8
Os números são iguais

12- Conversor de Moeda
Peça um valor em reais e converta para dólares (suponha uma taxa de câmbio de R$ 5,00 por USD).

In [ ]:
reais=float(input("Digite o valor em reais: "))
dolar=reais/5
print(f"o valor em dólar é: ", {dolar})

Digite o valor em reais: 15
o valor em dólar é:  {3.0}